## Import Libraries

In [59]:
import pandas as pd
import numpy as np
import json
import joblib
from sklearn.decomposition import PCA

### Import Models

In [60]:
with open('model_k_means.pkl','rb') as file_1:
    kmeans = joblib.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
     scaler = joblib.load(file_2)

with open('list_num_col.txt', 'r') as file_3:
     numcol = json.load(file_3)

with open('list_pca9_col.pkl', 'rb') as file_5:
     pca = joblib.load(file_5)

### Creating New Dataframe

In [61]:
data_inf = pd.DataFrame({
    'BALANCE': [943.584041,  461.45572, 1053.59473],
    'BALANCE_FREQUENCY': [1.000000, 1.000000, 0.375000],
    'PURCHASES': [1450.00, 1200.00, 560.98],
    'ONEOFF_PURCHASES': [585.00, 0.00, 226.90],
    'INSTALLMENTS_PURCHASES': [133.76, 0.00, 0.00],
    'CASH_ADVANCE' : [1259.571764, 0.000000, 4359.325750],
    'PURCHASES_FREQUENCY' : [0.454545, 0.909091, 0.125000],
    'ONEOFF_PURCHASES_FREQUENCY': [0.727273, 0.125000, 0.125000],
    'PURCHASES_INSTALLMENTS_FREQUENCY': [0.000000, 0.000000, 0.818182],
    'CASH_ADVANCE_FREQUENCY': [0.545455, 0.545455, 0.000000	],
    'CASH_ADVANCE_TRX': [9, 7, 9],
    'PURCHASES_TRX': [0, 0, 20],
    'CREDIT_LIMIT': [1500.0, 4150.0, 6000.0],
    'PAYMENTS': [258.032630, 4372.148648, 3056.424974],
    'MINIMUM_PAYMENTS': [151.696433, 241.645387, 910.707525],
    'PRC_FULL_PAYMENT': [0.090909, 0.090909, 0.000000],
    'TENURE': [8, 9, 11]

})
data_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,943.584041,1.000,1450.00,585.0,133.76,1259.571764,0.454545,0.727273,0.000000,0.545455,9,0,1500.0,258.032630,151.696433,0.090909,8
1,461.455720,1.000,1200.00,0.0,0.00,0.000000,0.909091,0.125000,0.000000,0.545455,7,0,4150.0,4372.148648,241.645387,0.090909,9
2,1053.594730,0.375,560.98,226.9,0.00,4359.325750,0.125000,0.125000,0.818182,0.000000,9,20,6000.0,3056.424974,910.707525,0.000000,11

### Scaling Data

In [62]:
num_col = ['BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES', 'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE', 'PURCHASES_FREQUENCY','ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY','CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_TRX', 'PURCHASES_TRX','CREDIT_LIMIT', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT','TENURE']
num_scale = scaler.transform(data_inf[num_col])
num_scale

array([[-0.31157956,  0.50682837,  0.1894855 , -0.00933212, -0.30954087,
         0.1262648 , -0.10294979,  1.74396955, -0.92876018,  2.04112171,
         0.87400279, -0.6048913 , -0.81997831, -0.50980931, -0.3047759 ,
        -0.24056163, -2.66644606],
       [-0.54039046,  0.50682837,  0.07795152, -0.35550441, -0.45176029,
        -0.45717161,  1.03478746, -0.26885946, -0.92876018,  2.04112171,
         0.56986701, -0.6048913 , -0.10151518,  0.86305183, -0.26577577,
        -0.24056163, -1.91140203],
       [-0.25937013, -2.51679628, -0.20713825, -0.2212369 , -0.45176029,
         1.56207765, -0.92780717, -0.26885946,  1.12609159, -0.67952262,
         0.87400279,  0.21242446,  0.40005343,  0.42400103,  0.02431666,
        -0.5439301 , -0.40131395]])

### PCA

In [63]:
pcax = pca.transform(num_scale)
predictions = kmeans.predict(pcax)
data_inf['Clustering'] = predictions

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

### Prediction Result

In [64]:
data_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,Clustering
0,943.584041,1.000,1450.00,585.0,133.76,1259.571764,0.454545,0.727273,0.000000,0.545455,9,0,1500.0,258.032630,151.696433,0.090909,8,0
1,461.455720,1.000,1200.00,0.0,0.00,0.000000,0.909091,0.125000,0.000000,0.545455,7,0,4150.0,4372.148648,241.645387,0.090909,9,0
2,1053.594730,0.375,560.98,226.9,0.00,4359.325750,0.125000,0.125000,0.818182,0.000000,9,20,6000.0,3056.424974,910.707525,0.000000,11,0

`from new dataframe with random value, we can predict these customer are belong to cluster 0`